.App {
  text-align: center;
}

.list-title {
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.board {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.list {
  box-shadow: 2px 2px 40px 1px gray;
  margin-right: 2.4rem;
  width: 27.2rem;
  font-size: 1.4rem;
  height: fit-content;
}

.list:last-child {
  margin-right: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid white;
  margin: 10px;
  height: 10rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  box-shadow: 1px 3px 18px gray;
}

.list__add-card {
  margin: 2.4rem 0;
}
